extend page

block meta
  meta(property="description" content=site.description)
  meta(name="og:url"          content=site.site_url)
  meta(name="og:image"        content="https://i.imgur.com/GpzEJQ7.jpg?1")
  meta(name="og:title"        content=site.title)
  meta(name="og:description"  content=site.description)

block headerTitle
  = site.title

block content
  if currentAuthor
    article.container
      a.now-playing-wrapper(href="https://twitter.com/" + underhood.underhood)
        .now-playing
          .now-playing__userpic
          .now-playing__info
            .small На этой неделе твиттер ведёт:<br/>
            .now-playing__username @#{currentAuthor.username}

  article.container
    each row in authors
      .row.mb-3
        each author in row
          .col-4
            .d-flex
              img.rounded-circle.mr-2(src=author.media.image)
              .flex-column.my-auto
                h2
                  a(href="/" + author.authorId + '/')
                    = "@" + author.username
                if author.info.location
                  small
                    i.fa.fa-map-marker
                    = " " + author.info.location
            div
              p.list__item-desc!= helpers.render(helpers.firstTweet(author))
